* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --smaller: red;
  --button-border-color: black;
  --button-hover-color: rgb(255, 213, 213);
  --button-focus-color: rgb(146, 221, 185);
  --text-color: black;
  --background-color: white;
  --background-color-button: white;
  --button-font-color: black;
}

body.dark-mode {
  --text-color: white;
  --background-color: black;
  --button-focus-color: white;
  --background-color-button: black;
  --button-font-color: white;
  --button-border-color: white;
  --button-hover-color: rgb(42, 42, 42);
  --button-focus-color: blue;
}

body {
  width: 100%; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.change-theme {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-container h1, .result-container p {
  font-size: 50px;
  font-weight: bold;
}

.result-container p {
  margin-left: 10px;
}

.result-container p.smaller {
  color: var(--smaller);
}

.buttons-container {
  margin-top: 20px;
  position: relative;
}

.buttons-container button {
  padding: 3px 5px;
  margin: 0 4px;
  background: var(--background-color-button);
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  transition: background 0.3s linear;
  font-size: 20px;
  color: var(--button-font-color);
}

.buttons-container button:hover {
  background-color: var(--button-hover-color);
}

.buttons-container button:focus {
  background-color: var(--button-focus-color);
}